

/* Question 6 image styling */
.question6 img,
.question7 img {
  width: 46px;
  height: 46px;
}

@media (max-width: 400px) {
  .question6 img,
  .question7 img {
    width: 30px;
    height: 30px;
  }
}

.secondBlock img {
  width: 400px;
  height: 348px;
}

@media screen and (max-width: 560px) {
  .secondBlock img {
    width: 100%;
  }
}
